/*------------------------------------------------------*/
/*******			 	CODE GÉNÉRAL 			   ******/
/*------------------------------------------------------*/

body {
	margin: 0;
	padding: 0;
}

.accueil {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px;
    background-color: rgb(206, 196, 196);
}

#background-video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
    object-fit: cover; 
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    }
