/*------------------------------------------------------*/
/*******			 	CODE GÉNÉRAL 			   ******/
/*------------------------------------------------------*/

@import url('http://fonts.googleapis.com/css?family=Varela+Round');

body {
	margin: 0;
	padding: 0;
    background: linear-gradient(to right, #0ebcf1, #cceff0);
	font-family: 'Varela Round', sans-serif;
}

/*------------------------------------------------------*/
/****** 			PAGE CONSTRUCTION			   ******/
/*------------------------------------------------------*/

.body-construction {
	margin: 0;
	padding: 0;
	height: 100vh;
}

.split {
	height: 100%;
	width: 50%;
	position: fixed;
}

.left {
	left: 0;
	top: 0;
	width: 50%;
	height: auto;
}

.right {
	right: 0;
	top: 20px;
	width: 50%;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.img-construction-left {
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 100vh;
	position: relative;
}

.img-construction-right {
    width: 150px;
    height: 150px;
    box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
}

.h1-construction {
	font-family: 'Allerta Stencil', sans-serif;
	color: #000000;
	transform:scaleY(2);
	font-size: 2rem;
	font-weight: 700;
	text-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
}

.p-construction {
	color: #000;
	font-size: 1rem;
	font-weight: 900;
	letter-spacing: 10px;
	transform:scaleY(1.5);
	text-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
}

.joindre-construction {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #e1e1e1;
	width: 600px;
	height: 150px;
	box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
}

.mailto {
	text-decoration: none;
	font-size: 1.5rem;
	color: #0ebcf1;
	text-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
}

.mailto:hover {
	color: #000;
	font-weight: 900;
}


/*------------------------------------------------------*/
/*******	    	VERSION  RESPONSIVE	   		   ******/
/*------------------------------------------------------*/

@media screen  and (max-width: 992px) {
	body {
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/img/developpeur-web.jpg);
	}

	.left {
		display: none;
	}

	.right {
		margin-right: 250px;
	}

	.h1-construction,
	.p-construction {
		color: #ffffff;
	}

	.h1-construction {
		font-size: 1.5rem;
	}

	.p-construction {
		font-size: 0.8rem;
	}

	.img-construction-right {
		width: 100px;
		height: 100px;
	}

	.centered {
		width: 130%;
	}
}

@media screen  and (max-width: 395px) {
	.body-construction {
		margin: 20px;
		height: auto;
	}

	.right {
		margin-right: 120px;
	}

	.centered {
		margin-top: 60px;
	}

	.h1-construction {
		font-size: 1rem;
	}

	.p-construction {
		font-size: 0.5rem;
	}

	.img-construction-right {
		width: 100px;
		height: 100px;
	}

	.img-construction-right {
		width: 80px;
		height: 80px;
	}

	.joindre-construction {
		width: auto;
		height: auto;
		padding: 15px;
		font-size: 0.7rem;
	}
	
	.mailto {
		text-decoration: none;
		font-size: 1.1rem;
	}
}